li{
    background-color: #834fb0;
    font-family: 'Pixelify Sans';
    list-style: square;
    color: #eee674;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #eee674;
    margin: 12px;
   }

   /*h1{
    font-size: 48px;
    color: #17e221;
   }

   a{
    
   }*/

   /*ul{
    font-family: 'Pixelify Sans'; 
    color:#eee674;
    list-style: square;
   }*/

